@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
 
    
}

body{
    width:100%;
    height: 100vh;
    background-color: #081b29;
    color: white;
   
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 25px;
    font-weight: 600;
    color: lightblue;
}

.navbar a{
    font-size: 20px;
    font-weight: 500;
    color:lightgray;
    margin-left: 40px;
}


.navbar a:hover, a.active{
    color: lightblue;  
    border-bottom: 3px solid lightblue;
}

section{
    min-height: 100vh;
    
}

.home{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10rem;
  

}

.home-img img{
    
    border-radius: 50%;
    width: 28vw;
    height: auto;
    
    
}

.home-content{
    background-color: transparent;
}
.home-content h1{
    font-size: 55px;
    font-weight: 700;
}


.home-content h3{
    font-size: 32px;
    font-weight: 600;
    color: rgb(31, 99, 247);
}

.home-content p{
    font-size: 16px;
    font-weight: 600;
}

.social a{
    background-color: lightblue;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: 2px solid rgb(31, 99, 247);
    font-size: 2rem;
    margin: 5% 10px 0 0;
    color: rgb(31, 99, 247);
    
}

.social a:hover{
    color: black;
    transform: scale(1.3);
}